@use "common" as *;

.thick {
  font-weight: 600;
}

.portfolio-prototips {
  h2 {
    text-align: center;
    color: green;
  }
}

.portfolio-prototips__nav {
  .main-menu {
  }
}

.portfolio-prototips__item {
  cursor: pointer;
  padding: 2rem;
}
