@use "common" as *;
html,
body {
  position: relative;
  height: 100%;
}
.main__button {
  width: 4rem;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
  margin-bottom: -2rem;
  img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    z-index: 100;
    object-fit: contain;
  }
  h4 {
    font-size: 0.5rem;
    text-align: center;
    opacity: 0.8;
  }
}
.thick {
  font-weight: 600;
}

.portfolio-prototips {
  h2 {
    text-align: center;
    padding: 2rem 0;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $black;
    border-right: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    text-align: center;
    padding: 1rem;
  }
  &__nav {
    .main-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      margin-bottom: 2rem;
      height: 100%;
    }
  }
  &__item:last-child {
    border-right: 1px solid $black;
  }
}

.articles {
  h4 {
    margin: 0 0 2rem 0;
  }
}

.screenshot {
  display: block;
  width: 100%;
}

.white-bg {
  background-color: white;
  color: $black;
}

.black-bg {
  background-color: $black;
  color: white;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.6s linear;
}

.section {
  &--hidden {
    position: absolute;
    bottom: 200%;
    right: 100%;

    width: 100%;
  }
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-container-horizontal {
  padding-top: 3rem !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: auto;
  top: 0;
}
@media screen and (max-width: 600px) {
  .portfolio-prototips__nav .main-menu {
    flex-direction: column;
    width: 100%;
  }
  .portfolio-prototips__item {
    width: 100%;
    border-right: 1px solid $black;
    padding: 1rem 0;
  }
}
