@use "common" as *;
.accordion__item {
  width: 100%;
  border: 1px solid $black;
  overflow: hidden;
  margin-bottom: 3px;
  background-color: #fff;
}
.accordion__header {
  position: relative;
}
.accordion__header h3 {
  width: 85%;
  font-size: 1.2rem;
}
.accordion__content.show {
  margin-bottom: 7%;
}

.accordion__content {
  padding: 0 1rem 0 1rem;
  transition: all 0.5s linear;
}

.accordion__header:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: $black;
  right: 30px;
  top: 50%;
  @include transform(translate(3px, -50%) rotate(45deg));
  transition: 0.5s linear;
}
.accordion__header.show:before {
  @include transform(translate(3px, -50%) rotate(-45deg));
}
.accordion__header:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: $black;
  right: 15px;
  top: 50%;
  @include transform(translate(-2px, -50%) rotate(-45deg));
  transition: 0.5s linear;
}
.accordion__header.show:after {
  @include transform(translate(-2px, -50%) rotate(45deg));
}
@media screen and (max-width: 600px) {
  .accordion__header h3 {
    width: 75%;
  }
}
