@use "common" as *;
h2 {
	text-align: center;
	padding: 2rem 0;
}
.accordion__item {
	width: 100%;
	border: 1px solid $black;
	overflow: hidden;
	padding: 1rem;
	h4 {
		// margin: 0 0 2rem 0;
	}
}
.accordion__header {
	position: relative;
}
.accordion__content {
	overflow: hidden;
	transition: all 0.5s linear;
}
.accordion__content.show {
}

.accordion__header:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 2px;
	background-color: $black;
	right: 30px;
	top: 50%;
	@include transform(translate(3px, -50%) rotate(45deg));
	transition: 0.3s linear;
}
.accordion__header.show:before {
	@include transform(translate(3px, -50%) rotate(-45deg));
}
.accordion__header:after {
	content: "";
	position: absolute;
	width: 15px;
	height: 2px;
	background-color: $black;
	right: 15px;
	top: 50%;
	@include transform(translate(-2px, -50%) rotate(-45deg));
	transition: 0.3s linear;
}
.accordion__header.show:after {
	@include transform(translate(-2px, -50%) rotate(45deg));
}
